{% extends 'base.html' %}

{% block name %}
{{area.address}} :: {{block.super}}
{% endblock %}
{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}
{% if application %}
{% for item_mat in application %}
<div class="card mb-3">
    <div class="card-header">
        Объект: {{item_mat.area.numb}}
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">Наименование: {{item_mat.name}}</h5>
                <p class="card-text">Бренд: {{item_mat.brand}}.</p>
                <p class="card-text">Количество: {{item_mat.quantity}}.</p>
                <p class="card-text">Ссылка: {{item_mat.link|urlize}}.</p>
                <p class="card-text">Артикул: {{item_mat.item}}.</p>
                <p class="card-text">Магазин: {{item_mat.shop}}.</p>
                <p class="card-text">Заявка создана: {{item_mat.created_at}}.</p>
                <p class="card-text">Выполнено: {{item_mat.is_executed}}.</p>
                <a href="{{item_mat.get_absolute_url}}" class="btn btn-primary">Read more...</a>
            </div>
            {% if item_mat.photo %}
            <img src="{{item_mat.photo.bill.url}}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://elitas.ru/images/no-image-large.jpg" alt="" width="350">
            {% endif %}
        </div>

    </div>
    <div class="card-footer text-muted">
        {{item_mat.created_at|date:"Y-m-d H:i:s"}}
    </div>
</div>
{% endfor %}
{% else %}
Список заявок пуст...
{% endif %}
{% endblock %}



